<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Load CSS -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/mobile.css" media="screen and (min-width: 200px) and (max-width: 1000px)" />
        <!-- Load Favicon -->
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="icon" />
        <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon" />
        <title>Flask Template | 404</title>
    </head>
    <body>
        <div id="header">{{ header|safe }}</div>

        <h1>404 - Page not found.</h1>

        <div id="footer">{{ footer|safe }}</div>
    </body>
</html>
